@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

/*  
    Basically, i need all buttons to have this smooth transition which is also with the 3rd and last (messenger) button. But gradient can't doesn't have transitions so i had       to use opacity. It will be done with ::after or ::before pseudo element but it just doesn't work properly for me..
*/

:root {
    /*  Colors  */
    --facebook: #4267B2;
    --twitter: #1DA1F2;
    --instagram: #E1306C;
    --instagram_gradient: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);;
    --github: #333;
    --youtube: #ff0000;
    --messenger_gradient: linear-gradient(200deg, #fc466b, #3f5efb 90%);
    --messenger: #8241fb;
  
    --background:#ffffff;
    /*  Speed of transition (Czech) */
    --rychlost: 1s;
    --target: _blank;
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html,body{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: linear-gradient(315deg,#ffffff 0%,#d7e1ec 74%);
}

.alink{
    display: inline-flex;
    text-decoration: none;
    /* float: left; */
}


.wrapper .button{
    display: inline-flex;
    flex-wrap: wrap;
    height: 60px;
    width: 60px;
    /* float: left; */
    margin:0 5px;
    overflow:hidden;
    /*background: rgb(255, 255, 255);*/
    background: var(--background);
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all var(--rychlost) ease-out;
    z-index: -100;

}
.wrapper .button:hover{
    width: 200px;

}
.wrapper .button .icon{
   display: inline-block;
   height: 60px;
   width: 60px;
   text-align: center;
   border-radius: 50px;
   box-sizing: border-box;
   line-height: 60px;
   transition: all var(--rychlost) ease-out;
   overflow: hidden;
}
.wrapper .button:nth-child(1):hover .icon {
    background: var(--facebook);
}
.wrapper .button:nth-child(2):hover .icon {
    background: var(--twitter);
}
.wrapper .button:nth-child(3) .icon::before{
    border-radius: inherit;
    background-image: var(--instagram_gradient);
    content: '';
    overflow: hidden;
    border-radius: 50px;
    display: table-caption;
    height: 60px;
    position: absolute;
    opacity: 0;
    width: 60px;
    z-index: 1;
    transition: opacity var(--rychlost);
}
.wrapper .button:nth-child(3):hover .icon::before{
    opacity:1;
}
/* .wrapper .button:nth-child(3):hover .icon {
    background: var(--instagram_gradient);
} */
.wrapper .button:nth-child(4):hover .icon {
    background: var(--github);
}
.wrapper .button:nth-child(5):hover .icon {
    background: var(--youtube);
}
.wrapper .button:nth-child(6) .icon::before{
    border-radius: inherit;
    background-image: var(--messenger_gradient);
    content: '';
    display: table-caption;
    position: absolute;
    opacity: 0;
    height: 60px;
    width: 60px;
    z-index: 1;
    transition: opacity var(--rychlost);
}
.wrapper .button:nth-child(6):hover .icon::before{
    opacity:1;
}
.wrapper .button .icon i{
    z-index: 100;
    position: relative;
    font-size: 30px;
    color: black;
    line-height: 60px;
    transition: all var(--rychlost) ease-out;
}
.wrapper .button:hover .icon i{
    color: #fff;
    z-index: 100;
}

.wrapper .button  span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all var(--rychlost) ease-out;

}

.wrapper .button:nth-child(1) span{
    color: var(--facebook);
}
.wrapper .button:nth-child(2) span{
    color: var(--twitter);
}
.wrapper .button:nth-child(3) span{
    color: var(--instagram);
}
.wrapper .button:nth-child(4) span{
    color: var(--github);
}
.wrapper .button:nth-child(5) span{
    color: var(--youtube);
}
.wrapper .button:nth-child(6) span{
    color: var(--messenger);
}
